{% extends 'base.html' %}
{% block title %}Formulario - {{ nombre_modelo }}{% endblock %}
{% block content %}
<h2>Formulario para {{ nombre_modelo }}</h2>

<form method="post" action="{{ ruta_accion }}">
    {% for campo in campos %}
        <label>{{ campo|capitalize }}:
            <input type="text" name="{{ campo }}" value="{{ valores.get(campo, '') }}" required>
        </label><br>
    {% endfor %}
    <button type="submit">Guardar</button>
</form>
<a href="/{{ nombre_modelo|lower }}s">← Volver a la lista</a>
{% endblock %}
